
<div class="card mt-5" style="width: 18rem;" id="<%= dom_id employee %>">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= employee.name %></h5>
    <p class="card-text"><%= employee.position %></p>
    <strong><%= t 'activerecord.attributes.employee.admission_date' %>: </strong><a href="#" class="btn btn-primary"><%= date_to_str(employee.admission_date) %></a>
  </div>
</div>