  <div class="card" style="width: 18rem;" id="<%= dom_id vacation %>">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><strong><%= t 'activerecord.attributes.employee.name' %>: </strong><%= @vacation.employee.name %></h5>
      <p class="card-text d-flex justify-content-center "><strong><%= t "vacation" %></strong></p>
      <strong><%= t 'activerecord.attributes.vacation.start_date' %>: </strong><br/><a href="#" class="btn btn-primary"><%= @vacation.start_date %></a><br/>
      <strong><%= t 'activerecord.attributes.vacation.finish_date' %>: </strong><br/><a href="#" class="btn btn-danger"><%= @vacation.finish_date %></a>
    </div>
  </div>
